* {
    box-sizing: border-box;
}
body {
    background-color: #FFA24D;
    font-family: "IBM Plex Serif", Arial, Helvetica, sans-serif;
    max-width: 468px;
    margin: 0 auto;
}
.dip_mable {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.text {
    text-align: center;
    font-size: 14px;
}


